<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chipaquariummobile.azure-mobile.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-os1-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mobile$ChipAquariumMobile</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mobile$ChipAquariumMobile</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureMobileService</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChipAquariumMobileService.Models.ChipAquariumMobileContext" Order="2" Enabled="False">
          <Destination Path="Data Source=f4qc1nb1e4.database.windows.net;Initial Catalog=pisco;User ID=KhVOnughXrLogin_ChipAquariumMobile;Password=aa99ZB864330zZ$$;Asynchronous Processing=True;TrustServerCertificate=False" Name="Data Source=f4qc1nb1e4.database.windows.net;Initial Catalog=pisco;User ID=KhVOnughXrLogin_ChipAquariumMobile;Password=aa99ZB864330zZ$$;Asynchronous Processing=True;TrustServerCertificate=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChipAquariumMobileService.Models.ChipAquariumMobileContext, ChipAquariumMobileService" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChipAquariumMobileService.Models.ChipAquariumMobileContext-Web.config Connection String">
      <ParameterValue>Data Source=f4qc1nb1e4.database.windows.net;Initial Catalog=pisco;User ID=KhVOnughXrLogin_ChipAquariumMobile;Password=aa99ZB864330zZ$$;Asynchronous Processing=True;TrustServerCertificate=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ChipAquariumMobileService.Models.ChipAquariumMobileContext" />
  </ItemGroup>
</Project>