[Unit]
Description = Telemetry sensor data.
After=local-fs.target network-online.target
ConditionPathExists=/opt/telemetry/bin

[Service]
ExecStart=/opt/telemetry/bin/run.sh
Restart=no
Type=simple


[Install]
WantedBy=multi-user.target